main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(100%, 600px);
    margin: 20px;
    margin-top: 100px;
    align-self: center;
    max-width: 600px;
    gap: 8px;
    padding: 50px 10px 50px 10px;
    border-radius: 40px;
    flex-grow: 1;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    /* border: 2px solid black; */
    font-size: 14px;
    backdrop-filter: blur(50px);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.671);
}
.😀{
    color:#003366 ;
}
.😍,a{
    text-decoration: none;
    font-weight: bold;
    color:#003366 ;
}
.😍:hover{
    color:#d4af37 ;  
}

img.nav-image3 {
   height: 100px;
    width: auto;
}